<div class="title-bar">
  <h1 class="title-bar title">Ver Colegio</h1>
  <h3 class="title bar description">{{colegio.nombre}}</h3>

</div>
<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div class="demo-form-wrapper">
      <div class="form form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="form-control-1">Nombre del Establecimiento</label>
          <div class="col-sm-10">
            <input id="form-control-1" class="form-control" type="text" [(ngModel)]="colegio.nombre" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="form-control-2">Dirección</label>
          <div class="col-sm-6">
            <input id="form-control-2" class="form-control" type="text" [(ngModel)]="colegio.direccion" readonly>
          </div>
          <label class="col-sm-2 control-label" for="form-control-3">N°</label>
          <div class="col-sm-2">
            <input id="form-control-3" class="form-control" type="text" [(ngModel)]="colegio.numeracion" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="form-control-4">Región</label>
          <div class="col-sm-4">
            <input id="form-control-4" class="form-control" type="text" [(ngModel)]="colegio.region" readonly>
          </div>
          <label class="col-sm-2 control-label" for="form-control-5">Provincia</label>
          <div class="col-sm-4">
            <input id="form-control-5" class="form-control" type="text" [(ngModel)]="colegio.provincia" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="form-control-6">Localidad</label>
          <div class="col-sm-4">
            <input id="form-control-6" class="form-control" type="text" [(ngModel)]="colegio.localidad" readonly>
          </div>
          <label class="col-sm-2 control-label" for="form-control-7">Comuna</label>
          <div class="col-sm-4">
            <input id="form-control-7" class="form-control" type="text" [(ngModel)]="colegio.comuna" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="form-control-8">Departamento Provincial</label>
          <div class="col-sm-10">
            <input id="form-control-8" class="form-control" type="text" [(ngModel)]="colegio.depto_prov" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="form-control-9">Teléfono</label>
          <div class="col-sm-3">
            <input id="form-control-9" class="form-control" type="text" [(ngModel)]="colegio.telefono" readonly>
          </div>
          <label class="col-sm-2 control-label" for="form-control-10">Web</label>
          <div class="col-sm-5">
            <input id="form-control-10" class="form-control" type="text" [(ngModel)]="colegio.web" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="form-control-11">Email</label>
          <div class="col-sm-10">
            <input id="form-control-11" class="form-control" type="text" [(ngModel)]="colegio.mail" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="form-control-12">Sostenedor</label>
          <div class="col-sm-10">
            <input id="form-control-12" class="form-control" type="text" [(ngModel)]="colegio.sostenedor" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="form-control-13">Director</label>
          <div class="col-sm-10">
            <input id="form-control-13" class="form-control" type="text" [(ngModel)]="colegio.director" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="form-control-14">RBD</label>
          <div class="col-sm-2">
            <input id="form-control-14" class="form-control" type="text" [(ngModel)]="colegio.rbd" readonly>
          </div>
          <label class="col-sm-2 control-label" for="form-control-15">Dependencia</label>
          <div class="col-sm-6">
            <input id="form-control-15" class="form-control" type="text" [(ngModel)]="colegio.dependencia" readonly>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div class="form form-horizontal">
      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2">
          <button class="btn btn-default btn-block" (click)="goBack()">Volver</button>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-primary btn-block" (click)="goToEdit(colegio.id)">Editar</button>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-danger btn-block" (click)="modalOpen()">Borrar</button>

          <modal [animation]="animationsEnabled" #modal>
            <modal-header [show-close]="true">
              <h4 class="modal-title">Eliminar Colegio.</h4>
            </modal-header>
            <modal-body>
              Haga click en Ok para continuar eliminando el colegio seleccionado.
            </modal-body>
            <modal-footer>
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalDismiss()">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="modalClose()">Ok</button>
            </modal-footer>
          </modal>

        </div>
      </div>
    </div>
  </div>
</div>

