<div class="row gutter-xs">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="card">
      <div class="card-header">
        <div class="media">
          <div class="media-middle media-body">
            <h2 class="card-title">Ver Curso</h2>
          </div>
        </div>
        <div class="card-body">
          <div class="media">
            <div class="row gutter-xs">
              <div class="col-sm-6">
                <div class="row gutter-xs">
                  <div class="col-sm-6">
                    <div class="media-body">
                      <p class="card-text">Grado-Letra</p>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="media-body">
                      <p class="card-text">Profesor Jefe</p>
                    </div>
                  </div>
                </div>
                <div class="media-body media-middle">
                  <p class="card-text">
                    Cantidad de Alumnos
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row gutter-xs">
            <div class="col-sm-3" *ngFor="let tab of tabs">
              <button class="btn btn-block btn-outline-info"
                      [routerLink]="['.',tab.path]"
                      (click)="setActive(tab.id)"
                      [ngClass]="{'active': tab.id == selectedTabId}">
                  <span class="icon icon-fw" [ngClass]=tab.icon></span>
                {{tab.label}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="form form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <button class="btn btn-default btn-block" (click)="goBack()">Volver</button>
        </div>
      </div>
    </div>
  </div>
</div>
