<div class="title-bar">
  <h1 class="title-bar title">Ver Alumno</h1>
  <h5 class="title bar description">{{matricula.nombre}} {{matricula.apellidos}}, {{matricula.rut}}-{{matricula.dv}}</h5>

</div>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div class="demo-form-wrapper">
      <div class="form form-horizontal">

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div class="form form-horizontal">
      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2">
          <button class="btn btn-default btn-block" (click)="goBack()">Volver</button>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-primary btn-block" (click)="goToEdit(matricula.id)">Editar</button>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-danger btn-block" (click)="deleteMatricula()">Borrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
