<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="demo-btn-toolbar btn-toolbar">
          <div class="btn-group">
            <button class="btn btn-sm btn-outline-info"
                    *ngFor="let asignatura of asignaturas"
                    (click)="setAsignatura(asignatura?.asignatura.datos.id)"
                    [ngClass]="{'active': (asignatura?.asignatura.datos.id == selectedAsignatura.datos.id)}">{{asignatura?.asignatura.datos.nombre}}</button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-middle table-striped table-bordered">
            <thead>
            <tr class="bg-primary">
              <th rowspan="2">#</th>
              <th rowspan="2" >Nombre</th>
              <th rowspan="2">Apellidos</th>
              <th rowspan="1" [attr.colspan]="selectedAsignatura.cantidad + 1" class="text-center  ">Notas</th>
            </tr>
            <tr class="bg-primary">
              <th rowspan="1" colspan="1" *ngFor="let item of createRange(selectedAsignatura.cantidad); let currentIndex = index">{{currentIndex+1}}</th>
              <th rowspan="1" colspan="1">Prom</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alumno of selectedAsignaturaAlumnos">
              <td>{{alumno.alumno.id}}</td>
              <td>{{alumno.alumno.nombre}}</td>
              <td>{{alumno.alumno.apellido_paterno}} {{alumno.alumno.apellido_materno}}</td>
              <td *ngFor="let nota of alumno.notas" style="width:60px">{{nota.valor | number:'1.1-2' }}</td>
              <td>{{getPromedio(alumno.notas) | number:'1.1-2' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
