<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="demo-btn-toolbar btn-toolbar">
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-middle table-striped table-bordered">
            <thead>
            <tr class="bg-primary">
              <th>
                <label class="custom-control custom-control-primary custom-checkbox">
                  <input class="custom-control-input" type="checkbox">
                  <span class="custom-control-indicator"></span>
                </label>
              </th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Rut</th>
              <th>Contacto</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alumno of alumnos">
              <td>
                <label class="custom-control custom-control-primary custom-checkbox">
                  <input class="custom-control-input" type="checkbox">
                  <span class="custom-control-indicator"></span>
                </label>
              </td>
              <td>{{alumno.nombre}}</td>
              <td>{{alumno.apellido_paterno}} {{alumno.apellido_materno}}</td>
              <td>{{alumno.rut}}-{{alumno.dv}}</td>
              <td>{{alumno.fono_movil}}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
