<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="cal-days">
          <div *ngFor="let rowIndex of view.rowOffsets">
            <div class="row gutter-xs">
              <div *ngFor="let day of view.days | slice : rowIndex : rowIndex + 7">
                <div *ngIf="!(day.date.getDay()==0)"
                      class="col-md-2">
                  <button class="btn btn-block"
                          [ngClass]="{'btn-outline-info': day.inMonth, 'text-muted': !(day.inMonth)}"
                          [disabled]="!(day.inMonth)">
                    <p>{{ getDayName(day.date.getDay()) }}</p>
                    {{day.date.toString() | date }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
