<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-body">
        <div class="table-responsive">
          <table>
            <thead>

            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<modal [animation]="animationsEnabled" #modal>
  <modal-header [show-close]="true">
    <h4 class="modal-title"></h4>
    <h5></h5>
    <h6></h6>
  </modal-header>
  <modal-body>

  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-primary">Ok</button>
  </modal-footer>
</modal>
