<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-middle table-striped table-bordered">
            <thead>
            <tr class="bg-primary">
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Rut</th>
              <th>Anotaciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alumno of alumnos" (click)="modalOpen(alumno)">
              <td>{{alumno.nombre}}</td>
              <td>{{alumno.apellido_paterno}} {{alumno.apellido_materno}}</td>
              <td>{{alumno.rut}}</td>
              <td>{{alumno.anotaciones.length}}</td>
            </tr>
            </tbody>
          </table>

          <modal [animation]="animationsEnabled" #modal>
            <modal-header [show-close]="true">
              <h4 class="modal-title">Anotaciones</h4>
              <h5>{{ selectedAlumno?.nombre }} {{ selectedAlumno?.apellido_paterno }} {{ selectedAlumno?.apellido_materno }}</h5>
              <h6>{{ selectedAlumno?.rut }}</h6>
            </modal-header>
            <modal-body>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr class="bg-info">
                        <th>Fecha</th>
                        <th>Asignatura</th>
                        <th>Caract.</th>
                        <th>Observacion</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let anotacion of selectedAlumno?.anotaciones">
                        <td>{{anotacion.fecha_anotacion.toString() | date }}</td>
                        <td>{{anotacion.asignatura}}</td>
                        <td>
                          <span class="label label-info label-pill" *ngIf="anotacion.general">General</span>
                          <span class="label label-danger label-pill" *ngIf="!(anotacion.positiva)">Negativa</span>
                          <span class="label label-success label-pill" *ngIf="anotacion.positiva">Positiva</span>
                        </td>
                        <td>
                          <p class="card-text">{{ anotacion.obs | truncate: 60 }}
                            <a class="btn btn-expander collapsed" role="button" data-toggle="collapse" href="#laravel-upgrade">
                              &hellip;
                            </a>
                          </p>
                          <div id="laravel-upgrade" class="collapse">
                            <p class="text-justify">
                              <small>{{ anotacion.obs }}</small>
                            </p>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </modal-body>
            <modal-footer>
              <button type="button" class="btn btn-primary" (click)="modalClose()">Ok</button>
            </modal-footer>
          </modal>

        </div>
      </div>
    </div>
  </div>
</div>
