<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="row gutter-xs">
          <div class="col-md-8">
            <div class="demo-btn-toolbar btn-toolbar">
              <div class="btn-group">
                <button class="btn btn-sm btn-outline-info"
                        *ngFor="let asignatura of asignaturas"
                        (click)="setAsignatura(asignatura?.asignatura.datos.id)"
                        [ngClass]="{'active': (asignatura?.asignatura.datos.id == selectedAsignatura.datos.id)}">{{asignatura?.asignatura.datos.nombre}}</button>
              </div>
            </div>
          </div>
          <div clasS="col-md-4">
            <button class="btn btn-block btn-success" (click)="saveNotas()">
              <span class="icon icon-fw icon-paper-plane-o"></span>
              Guardar
            </button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-middle table-striped table-bordered">
            <thead>
            <tr class="bg-primary">
              <th rowspan="2">#</th>
              <th rowspan="2" >Nombre</th>
              <th rowspan="2">Apellidos</th>
              <th rowspan="1" [attr.colspan]="selectedAsignatura.cantidad + 1" class="text-center">
                <div class="btn-group pull-right">
                  <button class="btn btn-info btn-sm" (click)="modalCreateOpen()"><span class="icon icon-fw icon-plus"></span></button>
                </div>
                Notas
                <div class="btn-group pull-left">
                  <button class="btn btn-info btn-sm" (click)="deleteNota()"><span class="icon icon-fw icon-minus"></span></button>
                </div>
              </th>
            </tr>
            <tr class="bg-primary">
              <th rowspan="1" colspan="1" *ngFor="let item of createRange(selectedAsignatura.cantidad); let currentIndex = index">{{currentIndex+1}}</th>
              <th rowspan="1" colspan="1">Prom</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alumno of selectedAsignaturaAlumnos">
              <td>{{alumno.alumno.id}}</td>
              <td>{{alumno.alumno.nombre}}</td>
              <td>{{alumno.alumno.apellido_paterno}} {{alumno.alumno.apellido_materno}}</td>
              <td *ngFor="let nota of alumno.notas"
                  [ngClass]="{'has-warning':(nota.valor == null),
                              'has-error': !((nota.valor < 7.0)||(nota.valor > 1.0))}">
                <input class="form-control"
                       style="width:50px"
                       type="number"
                       min="1.0"
                       max="7.0"
                       step="0.01"
                       value="nota.valor"
                       [(ngModel)]="nota.valor"
                       (keypress)="restrictValue(nota)"
                       (keydown)="restrictValue(nota)"
                       (keyup)="restrictValue(nota)"
                       (ngModelChange)="restrictValue(nota)"
                       (change)="onChange(nota)"/>
              </td>
              <td>{{ alumno.notas | calcPromedio | number:'1.1-2' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<modal [animation]="true" #modalDelete>
  <modal-header [show-close]="true">
    <h3 class="modal-title">Eliminar Evaluación</h3>
  </modal-header>
  <modal-body>
    <p class="card-text"></p>

  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-primary" (click)="modalDeleteClose()">Continuar</button>
  </modal-footer>
</modal>

<modal [animation]="true" #modalCreate>
  <modal-header [show-close]="true">
    <h3 class="modal-title">Crear Evaluación</h3>
  </modal-header>
  <modal-body>
    <p class="card-text"></p>
    <div class="demo-form-wrapper">
      <div class="form form-horizontal">
        <div class="form-group">
          <label class="col-sm-1 control-label" for="form-control-1">Contenido</label>
          <div class="col-sm-10">
            <input id="form-control-1" class="form-control" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-sm-offset-2 control-label" for="form-control-2">Fecha de Evaluación</label>
          <div class="col-sm-4">
            <input id="form-control-2" class="form-control" type="text">
          </div>
        </div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-primary" (click)="modalCreateClose()">Continuar</button>
  </modal-footer>
</modal>

<modal [animation]="true" #modalInfo>
  <modal-header [show-close]="true">
    <h3 class="modal-title">Evaluación</h3>
  </modal-header>
  <modal-body>
    <p class="card-text"></p>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-primary" (click)="modalInfoClose()">Continuar</button>
  </modal-footer>
</modal>

