<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="row gutter-xs">
          <div class="col-md-8">
            <div class="demo-btn-toolbar btn-toolbar">
              <div class="btn-group">
                <button class="btn btn-sm btn-outline-info"
                        *ngFor="let asignatura of asignaturas"
                        (click)="setAsignatura(asignatura?.asignatura.datos.id)"
                        [ngClass]="{'active': (asignatura?.asignatura.datos.id == selectedAsignatura.datos.id)}">{{asignatura?.asignatura.datos.nombre}}</button>
              </div>
            </div>
          </div>
          <div clasS="col-md-4">
            <button class="btn btn-block btn-success" (click)="saveNotas()">
              <span class="icon icon-fw icon-paper-plane-o"></span>
              Guardar
            </button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-middle table-striped table-bordered">
            <thead>
            <tr class="bg-primary">
              <th rowspan="2">#</th>
              <th rowspan="2" >Nombre</th>
              <th rowspan="2">Apellidos</th>
              <th rowspan="1" [attr.colspan]="selectedAsignatura.cantidad + 1" class="text-center">
                <div class="btn-group pull-left">
                  <button class="btn btn-info btn-sm" (click)="createNota()"><span class="icon icon-fw icon-plus"></span></button>
                </div>
                Notas
              </th>
            </tr>
            <tr class="bg-primary">
              <th rowspan="1" colspan="1" *ngFor="let item of createRange(selectedAsignatura.cantidad); let currentIndex = index">{{currentIndex+1}}</th>
              <th rowspan="1" colspan="1">Prom</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alumno of selectedAsignaturaAlumnos">
              <td>{{alumno.alumno.id}}</td>
              <td>{{alumno.alumno.nombre}}</td>
              <td>{{alumno.alumno.apellido_paterno}} {{alumno.alumno.apellido_materno}}</td>
              <td *ngFor="let nota of alumno.notas"
                  [ngClass]="{'has-warning':(nota.valor == null),
                              'has-error': !((nota.valor < 7.0)||(nota.valor > 1.0))}">
                <input class="form-control"
                       style="width:50px"
                       type="number"
                       min="1.0"
                       max="7.0"
                       step="0.01"
                       [(ngModel)]="nota.valor"
                       (change)="onChange(nota)"/>
                <!--(ngModelChange)="restrictValue(nota,alumno.alumno.id,selectedAsignatura.datos.id)"-->
              </td>
              <td>{{ alumno.notas | calcPromedio | number:'1.1-2' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

