<div class="title-bar">
  <h1 class="title-bar-title">Certificados</h1>
  <p class="title-bar-description">
    sample text
  </p>
</div>

<div class="row gutter-xs" id="docs-cert-selectcert">
  <div class="col-md-12">
    <div class="col-sm-4" *ngFor="let cert of certificados">
      <div class="card" (click)="setCertificado(cert.id)">
        <div class="card-body">
          <div class="media">
            <div class="media-middle media-left">
              <span class="circle sq-36"
                [ngClass]="{'bg-info': include(docsId,cert.id), 'bg-info-inverse': !(include(docsId,cert.id))}">
                <span class="icon icon-file-o"></span>
              </span>
            </div>
            <div class="media-middle media-body">
              <h4 class="media-heading fw-l">{{cert.nombre}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" id="docs-cert-selectsubj">
  <div class="col-md-10 col-sm-offset-1">
    <div class="title-bar">
      <h5 class="title-bar-title">Filtros</h5>
    </div>
    <div class="row gutter-xs">
      <div class="col-md-3" *ngFor="let option of options">
        <div class="card" (click)="setOption(option.id)">
          <div class="card-body">
            <div class="media">
              <div class="media-middle media-left">
              <span class="circle sq-44"
                    [ngClass]="{'bg-info': optionId == option.id, 'bg-info-inverse': !(optionId == option.id)}">
                <span class="icon" [ngClass]="option.icon"></span>
              </span>
              </div>
              <div class="media-middle media-body">
                <h4 class="media-heading fw-l">{{option.nombre}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-by-tipo-ensenanza [docs]="docsId" *ngIf="optionId == 1"></app-by-tipo-ensenanza>
<app-by-grado [docs]="docsId" *ngIf="optionId == 2"></app-by-grado>
<app-by-curso [docs]="docsId" *ngIf="optionId == 3"></app-by-curso>
<app-by-alumno [docs]="docsId" *ngIf="optionId == 4"></app-by-alumno>



