<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-offset-5 col-md-3">
            <div class="btn-toolbar">
              <div class="btn-group">
                <button class="btn btn-info" (click)="decrement()"><span class="icon icon-arrow-left"></span></button>
                <button class="btn btn-outline-info" (click)="today()"> <h4 class="card-title text-center text-capitalize">{{ getMonthName(viewDate.getMonth()) }}</h4> </button>
                <button class="btn btn-info" (click)="increment()"><span class="icon icon-arrow-right"></span></button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="card-body">
        <div>
          <div *ngFor="let rowIndex of view.rowOffsets">
            <div class="row gutter-xs">
              <div *ngFor="let day of view.days | slice : rowIndex : rowIndex + 7">
                <div *ngIf="!(day.date.getDay()==0)"
                     class="col-md-2">
                  <button class="btn btn-block"
                          [ngClass]="{'btn-outline-info': day.inMonth && (getInasistenciaByDia(day.date)<=5),
                                      'btn-outline-danger': day.inMonth && (getInasistenciaByDia(day.date)>5),
                                      'text-muted': !(day.inMonth),
                                      'hide-day': !(day.inMonth)}"
                          [disabled]="!(day.inMonth)"
                          (click)="modalOpen(day.date)">
                    <p>{{ getDayName(day.date.getDay()) }} <i class="text-warning">{{ getInasistenciaByDia(day.date) }}</i></p>
                    {{day.date.toString() | date }}
                  </button>

                  <modal [animation]="animationsEnabled" #modal>
                    <modal-header [show-close]="false">
                      <h4 class="modal-title">Inasistentes</h4>
                      <h5>{{selectedDay?.day.toString() | date }}</h5>
                    </modal-header>
                    <modal-body>
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                          <tr class="bg-info">
                            <th>
                              <label class="custom-control custom-control-primary custom-checkbox">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-indicator"></span>
                              </label>
                            </th>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>N° Mat.</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let alumno of selectedDay.alumnos" [ngClass]="{'bg-danger-inverse':!(alumno.asistencia)}">
                            <td>
                              <label class="custom-control custom-control-primary custom-checkbox">
                                <input class="custom-control-input"
                                       name="toggleAsistencia"
                                       type="checkbox"
                                       [ngModel]="!(alumno.asistencia)"
                                       (change)="toggleValue(alumno)">
                                <span class="custom-control-indicator"></span>
                              </label>
                            </td>
                            <td>{{alumno.numero}}</td>
                            <td>{{alumno.nombre}}</td>
                            <td>{{alumno.apellidos}}</td>
                            <td>{{alumno.nMat}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </modal-body>
                    <modal-footer>
                      <button type="button" class="btn" (click)="modalDismiss()">Cerrar</button>
                      <button type="button" class="btn btn-primary" (click)="saveAsistencia()">Continuar</button>
                    </modal-footer>
                  </modal>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
